@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <!DOCTYPE html>
    <html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Director</title>
    </head>
    <body>
        <form enctype="multipart/form-data" asp-action="AddDirector" asp-controller="Director" method="POST">
            
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="Director Name">
            </div>

            <div class="mb-3">
                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" aria-describedby="Director Surname">
            </div>

            <div class="mb-3">
                <label class="form-label" for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" min="18" max="110">
            </div>

            <button type="submit" class="btn btn-primary">Add Director</button>
        </form>

    </body>
</html>
}
