@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.Error != null)
{
    <h3 class="text-capitalize">ERROR </h3>
    <div class="row justify-content-center align-align-items-center">
        <p>@ViewBag.Error </p>
    </div>
}
@if (ViewBag.Message != null)
{
    <h3 class="text-capitalize">SUCCESS </h3>
    <div class="alert alert-success">
        <p class="">Silme işlemi başarılı  </p>
    </div>
}