@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie_Database_System.Models.ViewModels.AddActorVM
@{
    <!DOCTYPE html>
    <html lang="en">
        <head >
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Add Actor</title>
            <style>
                #AccessErrorMsg {
                    margin: 60px 0px;
                }
            </style>
        </head>
        <body>
            @if (ViewData["Error"] != null)
            {
                <h1 class="text-center fs-1">An Error Occured </h1>
                <h2 id="AccessErrorMsg" class="text-center fs-4"> @ViewData["Error"] </h2>
            }
            else if (ViewBag.Previous != null && ViewBag.Previous == true)
            {
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </symbol>
                </svg>

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                    Added actor successfully!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (ViewBag.Previous != null && ViewBag.Previous == false)
            {
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                    @ViewData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (ViewData["Error"] == null && ViewBag.Privilege != null && ViewBag.Privilege > 0)
            {
                <h1 class="text-center">Adding Actor</h1>
                <br>
                <form enctype="multipart/form-data" asp-action="AddActor" asp-controller="Actor" method="POST">

                    <div class="mb-3">
                        <label for="actorName" class="form-label">Name</label>
                        <input asp-for="actorName" type="text" class="form-control" id="actorName" name="actorName" aria-describedby="Actor Name">
                    </div>

                    <div class="mb-3">
                        <label for="actorSurname" class="form-label">Surname</label>
                        <input asp-for="actorSurname" type="text" class="form-control" id="actorSurname" name="actorSurname" aria-describedby="Actor Surname">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="actorAge">Age</label>
                        <input asp-for="actorAge" type="number" class="form-control" id="actorAge" name="actorAge" min="18" max="110">
                    </div>

                    <div class="mb-3">
                        <span class="fs-4">Select movie this actor took a role in: </span>
                        <div class="dropdown">
                            <select id="movieList" onchange="setChosenMovie()">
                                <option value="-2">-- Select a Movie --</option>
                                @foreach (var item in ViewData["MovieList"] as List<Movie_Database_System.Models.Movie>)
                                {
                                    <option id=@item.movieId.ToString() value=@item.movieId.ToString()>
                                        @item.name, @item.date.ToShortDateString()
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div id="movieInfoField">
                        <input type="text" class="form-control" id="chosenMovie" name="chosenMovie" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Actor</button>
            </form>
            }
        </body>
    </html>
    <script type="text/javascript">
        document.getElementById("movieInfoField").style.display = "none";

        const setChosenMovie = () => {
            var selectedMovie = document.getElementById("movieList").value;

            if (selectedMovie == "-2") {
                alert("Please select a movie from the list");
            }
            else {
                document.querySelector('input[name="chosenMovie"]').value = new String(selectedMovie); 
                document.querySelector('input[name="chosenMovie"]').readOnly = true;
            }
        }
    </script>
}
