@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie_Database_System.Models.Actor
@{
    List<String> movies = ViewData["Movies"] as List<String>;
    Actor actor = ViewData["Actor"] as Actor;
}

@if (ViewBag.Error != null)
{
    <h2 class="text-center">Actor Information</h2>
    <br>
    <h3 class="text-center">An Error Occured </h3>
    <div class="text-center">
        <p>Something went wrong with retrieving actor information from database. Please try to refresh the page, or revisit again after a little while. </p>
    </div>
}

else
{

    <h1>@actor.name @actor.surname</h1>

    <h3>Age</h3>

    <div>
        @actor.age
    </div>

    <h3>Played Movies</h3>

    <ul>
        @foreach (String movie in movies)
        {
            <li>
                @movie
            </li>
        }
    </ul>
}
