@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie_Database_System.Models.Actor
@{
    List<Actor> actors = ViewData["actorsInMovie"] as List<Actor>;
    String movieName = ViewData["movieName"] as String;
}

<h1 class="text-center mb-5">Actors in @movieName</h1>
@if (ViewBag.Error != null)
{
    <h3 class="text-capitalize">ERROR </h3>
    <div class="row justify-content-center align-align-items-center">
        <p>Beklenmeyen bir hata oluştu ! </p>
    </div>
}

@foreach (Actor actor in actors)
{
    <div class="d-flex justify-content-center align-content-center ">


        <div class="m-3">

            <a style="width:300px" asp-controller="Actor" asp-action="GetActor" asp-route-id="@actor.id" role="button" class="btn btn-primary btn-md"> <h4> @actor.name @actor.surname </h4></a>
        </div>

    </div>
}
