s@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie_Database_System.Models.Movie
@{
    Movie newMovie = (Movie)ViewData["NewMovie"];
}
@{
    <header>
        <style>
            .centerContent {
                display: flex;
                justify-content: center;
            }

            #cardSubText {
                width: 20%;
            }
        </style>
    </header>
    @if (ViewBag.Error != null)
    {
        <h3 class="text-capitalize">ERROR</h3>
        <div class="row justify-content-center align-align-items-center">
            <p>@ViewBag.Error</p>
        </div>
    }
    @if (ViewBag.Error == null) {
        <h1 class="display-6 text-center">Movie Added Successfully</h1>
        <div class="container centerContent">
            <div class="card" style="width: 36rem;">
                <img src="data:image/JPG;base64,@Convert.ToBase64String(newMovie.imageBinary, 0, newMovie.imageBinary.Length)" class="card-img-top" alt="New Movie Image">
                <div class="card-body">
                    <h3 class="card-title text-center">@newMovie.name</h3>
                    <div class="centerContent">
                        <h6 class="card-subtitle mb-2 btn-sm btn-primary text-center" id="cardSubText">@newMovie.genre</h6>
                    </div>
                    <p class="card-text text-center">@newMovie.summary</p>
                    <div class="row">
                        <div class="col centerContent">
                            <a asp-controller="Movie" asp-action="AddMovie" class="btn btn-primary">Add Another Movie</a>
                        </div>
                        <div class="col centerContent">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
